@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Barlow:wght@600&family=Big+Shoulders+Display:wght@700&family=Epilogue:wght@500;700&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=League+Spartan:wght@400;500;700&family=Lexend+Deca&family=Outfit:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --softRed: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --dark-blue: hsl(198, 62%, 26%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  /* Font Family */
  --Barlow: "Barlow Semi Condensed", sans-serif;
  --Fraunces: "Fraunces", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 18px;
}
img {
  display: block;
}
/* mobile */

/* header start */
header {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  background: url(images/mobile/image-header.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.nav-bar {
  display: flex;
  position: relative;
  max-width: 100%;
  height: 60px;
  justify-content: space-between;
  /* outline: solid 1px black; */
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.nav-wrap {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: max(80%);
  position: fixed;
  top: 25%;
  left: 10%;
  padding: 15%;
  gap: 20px;
  text-align: center;
  font-family: var(--Barlow);
  font-weight: 600;
  z-index: 1;
  transform: translateY(-500px);
  transition: 0.3s;
}

.nav-wrap.active {
  transform: translateY(0);
}

.nav-link {
  color: var(--grayish-blue);
  font-size: 18px;
}

.nav-item-pro {
  margin-bottom: 20px;
}

.nav-button {
  color: var(--very-dark-grayish-blue);
  background-color: var(--Yellow);
  font-size: 14px;
  font-family: var(--Fraunces);
  padding: 15px;
  border-radius: 30px;
}

.hamburger {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 5%;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: var(--Fraunces);
  font-weight: 900;
  font-size: 36px;
  letter-spacing: 7px;
  color: white;
  text-align: center;
  margin-top: 20%;
}

.arrow {
  display: block;
  margin-top: 10%;
  padding-bottom: 30%;
}
/* header end */
.img-egg,
.img-pink-glass {
  max-width: 100%;
  height: auto;
}

.egg,
.pink-glass {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
}

.egg > h2,
.pink-glass > h2 {
  color: var(--very-dark-desaturated-blue);
  font-weight: 900;
  font-size: 30px;
  font-family: "Fraunces", serif;
  margin-top: 30px;
}

.egg > p,
.pink-glass > p {
  margin: 0 25px;
  line-height: 28px;
  color: var(--grayish-blue);
  font-size: 18px;
  font-weight: 600;
  font-family: var(--Barlow);
}

.egg > button {
  border: none;
  font-family: "Fraunces", serif;
  font-size: 18px;
  font-weight: 600;
  color: var(--very-dark-desaturated-blue);
  background: linear-gradient(transparent 65%, var(--Yellow));
  margin-bottom: 50px;
}

.pink-glass > button {
  border: none;
  font-family: "Fraunces", serif;
  font-size: 18px;
  font-weight: 600;
  color: var(--very-dark-desaturated-blue);
  background: linear-gradient(transparent 65%, var(--softRed));
  margin-bottom: 50px;
}

.cherry {
  background-image: url(images/mobile/image-graphic-design.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: 600px;
}

.cherry-disc {
  text-align: center;
  align-items: center;
  margin: auto 20px 60px 20px;
}

.cherry-disc > h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: var(--dark-desaturated-cyan);
  margin-bottom: 25px;
}

.cherry-disc > p {
  font-weight: 600;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: var(--dark-desaturated-cyan);
  opacity: 0.8;
  line-height: 1.6rem;
}

.orange {
  background-image: url(images/mobile/image-photography.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: 600px;
}

.orange-disc {
  text-align: center;
  align-items: center;
  margin: auto 20px 60px 20px;
}

.orange-disc > h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: var(--dark-blue);
  margin-bottom: 25px;
}

.orange-disc > p {
  font-weight: 600;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: var(--dark-blue);
  opacity: 0.8;
  line-height: 1.6rem;
}

/* client testimonials */
.clients {
  display: flex;
  flex-direction: column;
  max-width: 85%;
  margin: 0 auto;
  text-align: center;
  gap: 30px;
}
.client-title {
  font-family: var(--Fraunces);
  font-size: 16px;
  margin-top: 30px;
  color: var(--grayish-blue);
  letter-spacing: 3px;
}
.prof-img {
  max-width: 50px;
  height: auto;
  margin: 0 auto;
  border-radius: 50%;
}

.client-art {
  margin-bottom: 30px;
}

.client-art > p {
  font-family: var(--Barlow);
  color: var(--dark-grayish-blue);
  line-height: 1.6rem;
  margin: 10% auto 10% auto;
}

.client-art > h4 {
  font-family: var(--Fraunces);
  color: var(--very-dark-desaturated-blue);
  margin-bottom: 3%;
}

.client-art > h5 {
  font-family: var(--Barlow);
  color: var(--grayish-blue);
  font-weight: 600;
  opacity: 0.8;
}

/* footer */

.footer-pics {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  height: auto;
}

.footer-pics > img {
  max-width: 50%;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-moderate-cyan);
  max-width: 100%;
  height: 400px;
}

.logo-footer {
  display: flex;
  max-width: 30%;
  margin: 10% auto;
}

.footer-links {
  display: flex;
  margin: 0 auto;
  color: var(--dark-desaturated-cyan);
  gap: 40px;
  font-family: var(--Barlow);
  font-weight: 600;
}
